# Ignore build/output folders
frontend/dist
backend/dist

# Ignore node_modules (just in case)
node_modules

# Ignore environment files
.env
.env.*

# Optional: VS Code settings
.vscode

# Logs
*.log
